{{ title }} {{ name }}

<br />

<form>
  <input name="title" ([ngModel])="(title)" />
  <button type="submit">OK</button>
</form>

<button (click)="onClickButton()">Click</button>

<ul>
  <li *ngFor="let person of people">{{ person }}</li>
  <li *ngFor="let student of students">
    {{ student.name }} {{ student.course }} {{ student.gpa }}
  </li>
</ul>

<div *ngIf="showHidden">This is hidden text</div>

<select>
  <option *ngFor="let student of students">{{ student.name }}</option>
</select>

<br />
{{ 123.13 | currency: "₮" }}
<br />
{{ dd | date: "YYYY-MM-d" }}
<br />
{{ "Maharishi University" | uppercase }}
<br />
{{ 123.4566789 | number: "1.0-5" }}
<br />
{{ 123.4589 | number: "4.10-20" }}
