Number of theaters to display each page
<select [(ngModel)]="count" (change)="onChange()">
  <option *ngFor="let x of counts" [value]="x">{{ x }}</option>
</select>
Display theaters from
<select [(ngModel)]="state" (change)="onChange()">
  <option *ngFor="let x of states" [value]="x">{{ x }}</option>
</select>

The list of theaters are: Page {{ offset + 1 }}<br />

<ul>
  <li *ngFor="let theater of theaters">
    <a routerLink="{{ theater._id }}"
      >{{ theater.theaterId }} - {{ theater.location.address.city }}</a
    >
  </li>
</ul>

<button (click)="getPrev()">Prev</button>
<button (click)="getNext()">Next</button>
