.fixed_headers {
  border-collapse: collapse;
}
.fixed_headers th {
  text-decoration: underline;
}
.fixed_headers th,
.fixed_headers td {
  padding: 5px;
}
.fixed_headers thead {
  background-color: #333;
  color: #fdfdfd;
}

.fixed_headers tbody tr:nth-child(even) {
  background-color: #ddd;
}
.old_ie_wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}
.old_ie_wrapper tbody {
  height: auto;
}

.fixed_headers td {
  border: 1px solid #333;
}
